{{! Maintainer - Chuck Lorenz <chucklorenz@yahoo.com>}}
<div class="aboutus-inner">
    <div class="aboutus-header-container">
        <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{_graphic.title}}"/>
        <div class="aboutus-headline-container">
            <h5 class="aboutus-headline">{{{headline}}}</h5>
        </div>
    </div>
    <div class="aboutus-items-container">
    </div>
</div>