{{! Maintainer - Chuck Lorenz <chucklorenz@yahoo.com>}}
<a class="aboutus-item-open" href="#">
    <div class="aboutus-item-title">
        <h5>{{{title}}}</h5>
    </div>
</a>
<div class="aboutus-item-description">
    <div class="aboutus-item-description-inner">
        {{{description}}}
    </div>
</div>