{{! Maintainer - Chuck Lorenz <chucklorenz@yahoo.com>}}
<div class="aboutus-sociallinks">
{{#each this}}
    {{#if _link}}
        <a href="{{{_link}}}" class="icon icon-{{lowerCase _service}}"
        target="_blank" title="Follow us on {{{_service}}}"></a>
    {{/if}}
{{/each}}
</div>