{{! Maintainer - Chuck Lorenz <chucklorenz@yahoo.com>}}
<div class="aboutus-inner">
    <div class="aboutus-header-container">
        {{#if _graphic.src}}
            <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" />
        {{/if}}
        <div class="aboutus-headline-container">
            <h5 class="aboutus-headline" {{#unless _graphic.src}}width="100%"{{/unless}}>{{{headline}}}</h5>
        </div>
    </div>
    <div class="aboutus-items-container">
    </div>
</div>